@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.nav-wrapper #logo-container{
    font-size: 1.5em;
}

.card-panel{
    display: flex;
    margin-top: 1em;
}

.contact{
    flex-direction: column;
}

.card-panel .text{
    margin-left: 1em;
    color: black;
    margin-top: -5px;
}

.card-panel .text h5{
    color: #01579b;
    font-style: bold;
}

.card-panel .text h6{
    font-style: italic;
}

.card-panel img{
    width: 75px;
    height: 75px;
    background-color: white;
    align-items: center;
    padding: 5px;
    border-radius: 40px;
}

.card-panel img.qrcode{
  border-radius: 0;
  margin: 10px auto 0;
  width: 20em;
  height: 20em;
}

.card .sert h6{
  padding-top: 2em;
  margin-bottom: -2em;
}

.card img.sertiticate{
  border-radius: 0;
  margin: 10px auto 0;
  width: 20em;
  height: 20em;
  padding: 0;
}

.card img{
    width: 30px;
    height: 30px;
    border: 1px white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.card p{
    margin-top: -10px;
}

.timeline {
    position: relative;
  }
  .timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .timeline .timeline-event .timeline-content {
    position: relative;
    width: calc(50% - 50px);
  }
  .timeline .timeline-event::before {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: 0;
  }
  .timeline .timeline-event::after {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: calc(50% + 30px);
  }
  .timeline .timeline-event:first-child::before, .timeline .timeline-event:last-child::after {
    display: none;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: calc(50% + 50px);
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0;
  }
  .timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #d2d2d2;
    top: calc(50% - 8px);
    right: calc(50% - 8px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
  }
  .timeline .timeline-badge i {
    font-size: 25px;
    line-height: 40px;
  }
  
  @media (max-width: 600px) {
    .timeline .timeline-event .timeline-content {
      width: calc(100% - 70px);
    }
    .timeline .timeline-event::before, .timeline .timeline-event::after {
      left: 19px;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content, .timeline .timeline-event:nth-child(odd) .timeline-content {
      margin-left: 60px;
    }
    .timeline .timeline-badge {
      left: 12px;
    }
  }
  .card-title {
    line-height: 1em;
  }
  .card-title.gradient {
    display: block;
    position: absolute;
    bottom: 0px;
    padding-bottom: 64px;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 100%);
  }